html {
    background-color: #380d4d;
}

video, figure, img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

video {
    border: 3px solid #11d0b6;
    background-color: #511470;
    max-width: 97%;
}

/* Basic Page Breaks (hr) */
hr {
    background-color:#3535c9;
    height: 1px;
    border: none;
    margin-top: .6vh;
    margin-bottom: .7vh;
}

.smallImg {
    max-width: 50%;
}

.highlight, mark {
    background-color: #0c4b21;
    color: inherit;
}

.face {
    width: 15vw;
    height: 15vw;
    border: 2px solid;
}
  
.cube {
  display: grid;
  transform-style: preserve-3d;
}

.cube > * {
  grid-column-start: 1;
  grid-row-start: 1;
}

.front {
  transform: translate3d(0, 0, 7.5vw);
  background-color: red;
}

.back {
  transform: translate3d(0, 0, -7.5vw);
  background-color: greenyellow;
}

.left {
  transform: translate3d(-7.5vw, 0, 0) rotate3d(0, 1, 0, 270deg);
  background-color: orange;
}

.right {
  transform: translate3d(7.5vw, 0, 0) rotate3d(0, 1, 0, 90deg);
  background-color: yellow;
}

.top {
  transform: translate3d(0, -7.5vw, 0) rotate3d(1, 0, 0, 90deg);
  background-color: magenta;
}

.bottom {
  transform: translate3d(0, 7.5vw, 0) rotate3d(1, 0, 0, 90deg);
  background-color: aqua;
}

@keyframes cube-rotate {
  0% {
    transform: rotate3d(1, 1, 0, 0deg);
  }

  100% {
    transform: rotate3d(1, 1, 0, 360deg);
  }
}

@keyframes y-axis-orbit {
  0% {
    transform: rotate3d(0, 1, 0, 0deg);
  }

  100% {
    transform: rotate3d(0, 1, 0, 360deg);
  }
}