h3, h2 {
    font-weight: 500;
    font-size: 120%;
}

h1 {
    font-weight: bold;
    font-size: 200%;
}

h4 {
    font-weight: 500;
}

.basicText, article p:not(.caption) {
    font-family: monospace, systemui;
    font-size: 10pt;
    line-height: 1.3em;
    margin: .6vh;
    color: #67e2f8;
}

.basicTextH, h4 {
    font-family: monospace, systemui;
    font-size: 10pt;
    line-height: 1.3em;
    margin: .1vh;
    text-align: center;
    color: #11cfb6;
}


/* Basic Page Links */
.pageLinks, header a, article a {
    text-decoration: dashed underline;
    color: #0f0;
    font-size: 11pt;
    font-family: Times, serif, systemui;
    font-weight: 600;
    margin: .6vh;
}

header a {
    padding: .17vh;
    border: solid .1vh #16beb2;
    margin-bottom: .1vh;
}

/* Basic Headers */
.basicH1, header h1, header h2, article h1, article h3 {
    text-align: center;
    color: #1a8fdd;
    font-family: monospace, systemui;
}

header h2 {
    margin-top: 0.3vh;
    margin-bottom: .3vh;
    color: #11cfb6;
}

.caption, figcaption {
    font-size: 10pt;
    color: #1a8fdd;
    font-family: monospace, systemui;
    font-style: italic;
    margin: 2vh .6vh -.1vh;

}

h4 + .caption, hr + .caption {
    margin-top: 1vh;
    
}

img + figcaption, video + figcaption {
    text-align: center;
    margin-bottom: .7vh;
    margin-top: .05vh;
}

video + figcaption {
    margin-top: .06vh;
}

.headerBar, header:not(article header) {
    position: sticky;
    background-color: #511470;
    z-index: 1000;
    top: 0;
}